.app-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #ffffff,
        #cffcf1,
        #cffcf1,
        #defafe
    );
}
.heading{
    font-size: 2rem;
    color: #0f172a;
    font-family: "Roboto";
    font-weight: 500;
}
.digital-timer-container{
    display: flex; 
    flex-direction: column;
    align-items: center;
    width: 90%;
}
.timer-display-container{
    background-image: url("https://res.cloudinary.com/dkr51xeft/image/upload/v1774177639/react-projects/react-countdown-timer-app/digital-timer-elapsed-bg_m9wqvh.png");
    background-size: cover; 
    background-position: center;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.elapsed-time-container{
    background-color: white;
    width: 110px; 
    height: 110px;
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.elapsed-time{
    font-weight: bold; 
    font-size: 28px;
    color: #00d9f5;
    margin: 0;
}
.timer-state{
    font-size: 14px;
    color: #1e293b;
    margin-top: 6px;
}
.controls-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* start/pause + reset button css */
.timer-controller-container{
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    width: 90%;

} 
/* start/pause button css */
.timer-controller-btn{
    display: flex;
    align-items: center;
    background: transparent;
    border: none; 
    outline: none; 
    cursor: pointer;
    width: 136px;
    margin-right: 2px;
}
.timer-controller-icon{
    height: 36px; 
    width: 36px;
    margin-right: 6px;
}
.timer-controller-label{
    font-size: 1.4rem;
    font-weight: bolder; 
    color: #1e293b;
    padding: 0;
    margin: 0;
}
/* Reset Button Css */
.timer-mimit-title{
    margin: 30px 20px;
    font-size: 22px;
    color: #479c8e;
    font-weight: bold;
}
.timer-limit-controller-container{
    display: flex;
    gap: 12px;
}

.timer-limit-button{
    outline: none; 
    background-color: transparent;
    border: none; 
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 32px;

}
.timerLimitInputValue{
    width: 80px;
    height: 40px;
    font-size: 28px;
    font-weight: 900;
    text-align: center;
    border: none; 
    align-self: center;
}